de-course-adf2/pipeline/github.json
{
	"name": "github",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_load_date",
					"value": {
						"value": "@if(not(equals(pipeline().parameters.p_load_date, null)),pipeline().parameters.p_load_date,  getPastTime(1,'Day', 'yyyyMMdd'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "ingestion_date",
								"value": {
									"value": "@variables('v_load_date')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Source_GitHubArchiveDay",
						"type": "DatasetReference",
						"parameters": {
							"yyyymmdd": {
								"value": "@variables('v_load_date')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Landing_GitHubArchiveDay",
						"type": "DatasetReference",
						"parameters": {
							"yyyymmdd": {
								"value": "@variables('v_load_date')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"p_load_date": {
				"type": "string"
			}
		},
		"variables": {
			"v_load_date": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-12-04T21:19:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}