de-course-adf2/pipeline/stacko_answer.json
{
	"name": "stacko_answer",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"additionalColumns": [
							{
								"name": "ingestion_date",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Source_StackoverflowPostAnswers",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Landing_StackoverflowPostAnswers",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('v_load_filename')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_load_filename",
					"value": {
						"value": "@pipeline().parameters.filename",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string"
			}
		},
		"variables": {
			"v_load_filename": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-12-04T21:45:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}